// Use this file for writing custom css

body {
  background-color: var(--bs-dark);
  // Set the default text color
  color: var(--bs-primary);
}

@font-face {
  font-family: "Ginto Nord";
  src: url("/static/fonts/ABC Ginto Nord Full Web/ABCGintoNord-Regular.woff2"),
    url("/static/fonts/ABC Ginto Nord Full Web/ABCGintoNord-Regular.woff");
  font-display: swap;
}

.discord-btn {
  font-family: "Ginto Nord", sans-serif;
  background-color: #5865f2; /* Discord blurple */
  color: white;
  border: 1px solid white;
}

.discord-btn:hover {
  background-color: #5865f2;
  color: rgba($color: white, $alpha: 0.8);
}

.discord-btn img {
  width: 20px; /* Adjust size as needed */
  margin-right: 8px;
  vertical-align: middle;
}
